<!DOCTYPE html>
<html>
<head>
    <title>github works json/ajax</title>
</head>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/homepage.css">
</head>
<body>
<nav role="navigation" class="navbar navbar-default">
        <div class="container-fluid">
           <div class="row">
            <div class=" col-xs-12 col-sm-9">
                <a href="homepage.html">
                    <h1 class="text-center-xs text-left-sm">CHRIS CAMPBELL</h1>
                </a>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div id="site-nav" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                        <ul class="list-unstyled">
                            <li class="text-left-xs text-right-sm">
                                <a href="about.html">ABOUT</a>
                            </li>
                            <li class="text-left-xs text-right-sm">
                                <a href="works.html">WORKS</a>
                            </li>
                            <li class="text-left-xs text-right-sm">
                                <a href="sayhi.html">SAY HI</a>
                            </li>
                        </ul>
                        </li>
                    </ul>
                </div>
            </div>
           <div class="row">
                <div class="col-xs-12">
                    <button data-toggle="collapse" data-target="#site-nav" class="navbar-toggle btn-block collapsed" aria-expanded="false">
                        <h2 class="text-center">ENTER
                            <span id="expand-content"></span>
                        </h2>
                    </button>
                </div>
        </div>
    </div>
    </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-4 table-responsive">
        <div class="list-group" >
        </div>
      </div>
      <div class="col-md-8 table-responsive">
        <table class="table">
          <thead>
            
            <th>Author</th>
            <th>Message</th>
            <th>Date</th>
          </thead>
          <tbody>
            <tr>
              
              <td>Chris Campbell</td>
              <td>Added bootstrap styles and upgraded booted</td>
              <td>12/2/2015</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
  </div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
  <script type="text/javascript" src="js/works.js"></script>
  <script type="text/javascript" src="js/commits.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script> 
</body>
</html>